body {
	color: white;
	background-color: white;
}
.left {
	text-align: left;
}
select {
	width: 60%;
}

.button-enabled:active {
	background-color: #666;
}

.button-enabled:active i {
	color: white;
}