<ons-page class="center">
    <div ng-controller="MasterController">
        <ons-list>
            <ons-list-item ng-repeat="item in items" ng-click="showDetail($index)">
                <ons-row>
                    <ons-col class="left" size="10">
                        {{item.stop}}
                    </ons-col>
                    <ons-col class="left">
                        {{item.title}}
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>

    <ons-bottom-toolbar>
        <ons-row>
            <ons-col>
                <ons-select ng-model="selectedValue">
                    <option>Weekday</option>
                    <option>Weekend</option>
                </ons-select>
            </ons-col>
            <ons-col>
                <ons-icon icon="exchange" size="2x">
                </ons-icon>
            </ons-col>
        </ons-row>

    </ons-bottom-toolbar>

</ons-page>
